# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Pipenv
Pipfile.lock

# Migrations directories
migrations/

# Instance directory (local configs, SQLite DBs)
instance/

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage reports
.coverage
htmlcov/
.pytest_cache/
